Repository pedregon/scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, md-lint

go-lint:
  name: Lint Golang
  entry: golangci-lint run
  language: system
  pass_filenames: false

md-lint:
  name: Lint Markdown
  entry: npm run markdownlint -- *.md
  language: system
  pass_filenames: false

general additions
  .github/assets/github_report_vulnerability.png
  .markdownlint.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  cliff.toml
Due: md-lint

md fixes
  .markdownlint.yaml
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: md-lint

Update README.md
  README.md
Due: md-lint

new png
  .github/assets/github_report_vulnerability.png
Due: none

repo things
  .gitignore
  CONTRIBUTING.md
  Justfile
  README.md
Due: md-lint

remove TOC
  README.md
Due: md-lint

not python lol
  README.md
Due: md-lint

doc: Added a "greeter" example
  Justfile
  README.md
  context.go
  examples/greeter/main.go
  scaffold.go
Due: go-lint, md-lint

Path conditions:
  go-lint: any of: \.go$
  md-lint: any of: \.(md|markdown|mdown)$
